@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}