html,
body {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.designer-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}